* html ul li {
    float: left;
}

* html ul li a {
    height: 1%;
}

li:hover ul {
    display: block;
}

body {
    background-image: url(../imagens/Fundo/fundo.jpeg);
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-style: normal;
}

img {
    width: 50%;
    border-radius: 100%;
}

h1 {
    color: #a63d37;
    font-size: 40px;
}

h2 {
    color: #a63d37;
    font-size: 30px;
}

h3 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: #963530;
}

button {

    background-color: #f6f6f6;
    border-radius: 5px;
    border-color: #dd9e9a;

    width: 250px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: #dd9e9a;
}

button a:hover {
    color: #ffffff;
}

mark {
    background-color: #eec2bf;
}

.pet {
    width: 15%;
    border-radius: 100%;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;

}

nav ul li {
    position: relative;
}

nav li ul {
    position: absolute;
    left: 340px;
    top: 0;
    display: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #d6869bcb;
    font-size: 18px;
    background: #fff;
    width: 130px;
    height: 30px;
    padding: 4px;
    border: 1px solid #ccc;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
    background: #ece8e8;
    color: #963530;
}

.principal {
    width: 100%;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas: "nav nav figure"
        "nav nav figure"
        "nav nav figure";
}




section {
    grid-area: section;
}

nav {
    grid-area: nav;
    font-size: 25px;
    font-weight: bold;
    width: 300px;
    padding: 60px 0px 0px 100px;
}

figure {
    grid-area: figure;
}

.logo {
    width: 40%;
    padding: 0px 0px 0px 50px;

}

fieldset{
    width: 500px;
    text-align: center;
    border: 3px solid #a63d37;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.37);
    box-shadow: 5px 5px 10px #d4494248 ;
    
   
}
form{
    font-size: 25px;
    font-weight: bold;

}
form p{
    font-size: 17px;
}
form h3{
    font-size: 20px;
    font-weight: bold;
    color: #963530;
}
input{
    border-radius: 5px;
    width: 180px;
    
}
select{
    font-size: 20px;
    font-family: "Indie Flower", cursive;
}
.dados{
    width: 200px;
}
.botao{
    border: 2px solid #a63d37 ;
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    font-weight: bold;
}
.botao:hover{
    background-color: #ebdfdf;
}
.destaque{
    font-weight: bold;
}
